#mainbody {

}

span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

div {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

.subItem {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

}

span {
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

.blurry {
    color: transparent;
    text-shadow: 0px 0px 9px #028090;
}

.arrowContainer {
    pointer-events: none;
    background: transparent;
    position: absolute;
    z-index: 100001;
}

.arrow {
    pointer-events: visibleStroke;
}

.arrow.body {
    opacity: 0.1;
}

.arrow.head {

}

.arrow.highlighted {
    opacity: 1.0;
}

.arrow.highlighted {
    opacity: 1.0;
}

.arrow.invisible {
    opacity: 0.0;

}

.textspan {
    background: transparent;
    /*border: 1px red solid;*/
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
}

.en.textspan {

    font-style: italic;
    color: #028090;

}

.textspan.de {
    font-style: normal;
    color: #333333;

}

.textspan.de.tmpAccept {
    color: #028090;
    font-style: italic;
}

.textspan.en.deorder {

}

.textspan.de.enorder {
    background-color: rgba(2, 128, 144, 0.1)
}

.item {
    background: transparent;
    text-align: center;
    align-items: stretch;

    margin: 0px;
    padding: 0px;
    /*display: inline-block;*/
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: -webkit-fit-content;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    /*border: 2px solid grey;*/
    justify-content: space-around;
    flex-direction: column;
    height: 70px;
    /*transition: height 0.25s;*/
    /*padding: 0px;*/
    /*height: -webkit-fit-content;*/
    /*flex-basis: 200px;*/
    /*-webkit-flex-grow: 2;*/
    /*flex-grow: 1;*/
    /*flex-shrink: 0;*/

}

.item:first-child {
    /*background: blue;*/
}

.item:last-child {
    /*background: green;*/
}

.item:hover {
    /*border-color: white;*/
}

.item:hover > .node_menu_container {
    /*opacity: 1;*/

}

.colContainer {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /*border: 1px red solid; */

}

.textContainer {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    padding-top: 10px;
}

.translationInput {
    flex-grow: 1;
    min-width: 44px;
    max-width: 500px;
    height: 44px

}

.confirmBtn {
    width: 70px;
    height: 50px;
}

.pointsContainer {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 5px;

}

.pointsRemaining {
    padding: 5px;
    font-size: 25px;
    color: grey;
}

.pointsRemaining.stop {
    font-size: 25px;
    color: red;
}

.pointsBonus {
    font-size: 25px;
    color: green;
}

.outerContainer {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid lightgray;
}

.node_menu_container {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 20px;
    padding: 0px;
    flex-direction: row;
    justify-content: space-around;
    pointer-events: all;
    /*border: 1px solid green;*/

    /* transition: opacity 0.25s linear;*/
}

/*.node_menu_container:hover {
    opacity: 1;
}*/

.previewMenu {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
    background: transparent;
    pointer-events: all;
    padding: 0px;
    margin: 0px;
    height: 5px;
}

.previewDiv {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0px;
    position: absolute;
    z-index: 999;
    flex-direction: row;
    align-items: center;
    /*border: 1px solid lightgreen;*/
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
}

.preview.translation {
    opacity: 0.75;
    padding-left: 2px;
    padding-right: 2px;
}

.preview.translation.en {
    font-style: italic;
    /*color: #028090;*/
    color: transparent;
    text-shadow: 0px 0px 8px #028090;

}

.preview.translation.de.blurry {
    font-style: normal;
    color: transparent;
    text-shadow: 0px 0px 8px #333333;

}

.preview.split {

    pointer-events: none;
}

.preview.swap {

    pointer-events: none;
}

.previewDiv.en {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.previewDiv.de {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.translation_selector {
    opacity: 0;
    border: 1px solid #9BC65C;
    background: transparent;
    height: 100%;
    flex-grow: 1;
    padding: 0px;

}

.translation_selector:hover {
    background: #9BC65C;
}

.external_reorder_selector {
    opacity: 0;
    background: transparent;
    border: 1px solid #028090;
    height: 100%;
    /*width: 3px;*/
    flex-grow: 1;
    padding: 0px;

}

.external_reorder_selector:hover {
    background: #028090;
}

.split_reorder_selector {
    background: transparent;
    border: 1px solid #BD587C;
    height: 100%;
    /*width: 3px;*/
    flex-grow: 1;
    padding: 0px;

}

.split_reorder_selector:hover {
    background: #BD587C;
}

.previewTranslateContainer {
    min-height: 20px;
    /*border: 1px solid grey;*/

}

.affected {
    opacity: 0.2;
}

.pageContainer {
    /* border: 1px solid red;*/

}

.container {
    background: transparent;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    /*height: 200px;*/
    flex-direction: row;
    /*----- row | row-reverse | column | column-reverse*/
    justify-content: flex-start;
    /*----- flex-start | flex-end | center | space-between | space-around*/
    align-items: center;
    /*----- flex-start | flex-end | center | baseline | stretch*/
    align-content: center;
    /*----- flex-start | flex-end | center | space-between | space-around | stretch*/
    flex-wrap: wrap;
    /*----- nowrap | wrap | wrap-reverse*/
    padding-top: 0px;
    padding-bottom: 0px;
}

.container:hover {
    /*background: grey;*/
}

.straight_line {
    background: #028090;
}

.bold {
    font-weight: bold;
}

.wordOptionAttemptContainer {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*----- flex-start | flex-end | center | space-between | space-around*/
    align-items: center;
    /*----- flex-start | flex-end | center | baseline | stretch*/
    align-content: center;
}

.wordOption {
    padding: 2px;
}

.wordOption.prompt {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.translationAttempt {
    width: 95%;
}

.wordOptionContainer {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px #000000;

}

.guessing {
    border-bottom: 2px solid #333333;
}

input[disabled].correct {
    background: lightgreen;
}

input[disabled] {
    background: lightgray;
}

