#mainbody {}

.textspan.title {
    font-size: large;
    font-weight: bold;
}

.counter {
    font-size: large;
}

div {}

.subItem {
    display: flex;
}

span {
    cursor: default;
}

.blurry {
    /*color: transparent;*/
    /*text-shadow: 0 0 5px rbga(2, 128, 144, 0.5);*/
}

.arrowContainer {
    pointer-events: none;
    background: transparent;
    position: absolute;
    z-index: 100001;
}

.arrow {
    pointer-events: visibleStroke;
}

.arrow.body {
    opacity: 0.1;
}

.arrow.head {}

.arrow.highlighted {
    opacity: 1.0;
}

.arrow.highlighted {
    opacity: 1.0;
}

.arrow.invisible {
    opacity: 0.0;
}

.textspan {
    background: transparent;
    /*border: 1px red solid;*/
}

.en.textspan {
    font-style: italic;
    color: #028090;
}

.textspan.de {
    font-style: normal;
    color: #333333;
}

.textspan.de.tmpAccept {
    color: #028090;
    font-style: italic;
}

.textspan.en.deorder {}

.textspan.de.enorder {
    background-color: rgba(2, 128, 144, 0.1)
}
.wordhighlight.en {
    text-shadow: 0px 0px 22px yellow;
    background-color: yellow;
}

.wordhighlight.de {
    text-shadow: 0px 0px 22px yellow;
    background-color: yellow;
}

.item.padded {
    width: 40px;
    justify-content: space-around;
    flex-direction: column;
}

.item {
    background: transparent;
    text-align: center;
    align-items: stretch;
    font-size: larger;
    margin: 0px;
    padding: 0px;
    /*display: inline-block;*/
    display: flex;
    width: -webkit-fit-content;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    /*border: 2px solid grey;*/
    justify-content: space-around;
    flex-direction: column;
    height: 70px;
    /*transition: height 0.25s;*/
    /*padding: 0px;*/
    /*height: -webkit-fit-content;*/
    /*flex-basis: 200px;*/
    /*-webkit-flex-grow: 2;*/
    /*flex-grow: 1;*/
    /*flex-shrink: 0;*/
}

.item:first-child {
    /*background: blue;*/
}

.item:last-child {
    /*background: green;*/
}

.item:hover {
    /*border-color: white;*/
}

.item:hover> .node_menu_container {
    /*opacity: 1;*/
}

.container:hover {
    /*background: gray;*/
}

.container.nonactive {
    color: rgba(100, 100, 100, 0.1);
    background-color: rgba(100, 100, 100, 0.1);
    pointer-events: none;
}

.node_menu_container {
    display: flex;
    height: 20px;
    padding: 0px;
    flex-direction: row;
    justify-content: space-around;
    pointer-events: all;
    /*border: 1px solid green;*/
    /* transition: opacity 0.25s linear;*/
}

.node_menu_container.extraheight {
    display: flex;
    height: 35px;
    padding: 0px;
    flex-direction: row;
    justify-content: space-around;
    pointer-events: all;
}

/*.node_menu_container:hover {
    opacity: 1;
}*/

.previewMenu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
    background: transparent;
    pointer-events: all;
    padding: 0px;
    margin: 0px;
    height: 5px;
}

.previewDiv {
    display: flex;
    padding: 0px;
    position: absolute;
    z-index: 999;
    flex-direction: row;
    align-items: center;
    /*border: 1px solid lightgreen;*/
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
}

.preview.translation {
    opacity: 0.2;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
}
.preview.translation.en:hover {
    opacity: 1.0;
    font-style: italic;
    color: #028090;
    color: 028090;
    /*text-shadow: 0px 0px 8px #028090;*/
}

.preview.translation.en {
    opacity: 0.2;
    font-style: italic;
    color: #028090;
    color: 028090;
    /*text-shadow: 0px 0px 8px #028090;*/
}

.preview.translation.de {
    font-style: normal;
    /*text-shadow: 0px 0px 8px #333333;
    color: transparent;*/
}

.preview.split {
    pointer-events: none;
}

.preview.swap {
    pointer-events: none;
}

.previewDiv.en {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.previewDiv.de {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.translation_selector {
    opacity: 0;
    border: 1px solid #9BC65C;
    background: transparent;
    height: 100%;
    flex-grow: 1;
    padding: 0px;
}

.translation_selector:hover {
    background: #9BC65C;
}

.external_reorder_selector {
    opacity: 0;
    background: transparent;
    border: 1px solid #028090;
    height: 100%;
    /*width: 3px;*/
    flex-grow: 1;
    padding: 0px;
}

.external_reorder_selector:hover {
    background: #028090;
}

.split_reorder_selector {
    background: transparent;
    border: 1px solid #BD587C;
    height: 100%;
    /*width: 3px;*/
    flex-grow: 1;
    padding: 0px;
}

.split_reorder_selector:hover {
    background: #BD587C;
}

.previewTranslateContainer {
    min-height: 20px;
    /*border: 1px solid grey;*/
}

.affected {
    opacity: 0.2;
}

.container {
    background: transparent;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    /*height: 200px;*/
    flex-direction: row;
    /*----- row | row-reverse | column | column-reverse*/
    justify-content: flex-start;
    /*----- flex-start | flex-end | center | space-between | space-around*/
    align-items: center;
    /*----- flex-start | flex-end | center | baseline | stretch*/
    align-content: center;
    /*----- flex-start | flex-end | center | space-between | space-around | stretch*/
    flex-wrap: wrap;
    /*----- nowrap | wrap | wrap-reverse*/
    padding-top: 0px;
    padding-bottom: 0px;
}

.straight_line {
    background: #028090;
}


/*--- ORDER ---*/

#one {
    order: 3;
}

#two {
    order: 2;
}

#three {
    order: 1;
}

#four {
    order: 4;
}

#five {
    order: 5;
}


/*--- BASIS Grow & shrink ---*/

#one {
    /*flex-basis: 400px;*/
    /*flex-shrink: 0;*/
}

#two {
    /*flex-grow: 2;*/
    /*flex-shrink: 2;*/
}

#five {
    /*	flex-shrink: 1;
        flex-grow: 3;*/
}

.translationAttempt.glow {}

.translationAttempt:last-child {
    margin-bottom: 5px;
}

.translationAttempt[readOnly].revealed.translationAttempt {
    background-color: #ADD8E6;
}

.translationAttempt[readOnly].correct.translationAttempt {
    background-color: #90EE90;
}

.translationAttempt[readOnly].incorrect.translationAttempt {
    background-color: #FFC1C1;
}

.translationAttempt[readOnly].translationAttempt {
    background-color: #C0C0C0;
}

.inlineTranslation {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.emptyPadding {
    height: 0px;
}

.wordOptionContainer-Container {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wordOption {
    padding: 2px;
    display: none;
}

.wordOption.prompt {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: small;
    font-family: Arial;
    display: none;
}

.translationAttempt {
    width: 95%;
    font-family: Arial;
    display: none;
}

.wordOptionContainer {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px #000000;
}

.guessing.textspan.de.enorder {
    /*border-bottom: 2px solid #333333;*/
    background: #ADD8E6;
    box-shadow: 0px 0px 10px #ADD8E6;
}

.guessing {
    /*border-bottom: 2px solid #333333;*/
    background: #ADD8E6;
    box-shadow: 0px 0px 10px #ADD8E6;
}

button {
    height: 20px;
    margin-top: 19px;
    margin-left: 5px;
}

.totalScore {
    margin-top: 19px;
    margin-left: 15px;
    font-size: 25px;
    color: gray;
}

.totalScore.number {
    margin-top: 19px;
    margin-left: 5px;
    font-size: 25px;
    color: green;
}

.translationAttempt.glow {}

.translationAttempt:last-child {
    margin-bottom: 5px;
}

.translationAttempt[readOnly].revealed.translationAttempt {
    background-color: #ADD8E6;
}

.translationAttempt[readOnly].correct.translationAttempt {
    background-color: #90EE90;
}

.translationAttempt[readOnly].incorrect.translationAttempt {
    background-color: #FFC1C1;
}

.translationAttempt[readOnly].translationAttempt {
    background-color: #C0C0C0;
}

.inlineTranslation {
    display: -moz-box;
    display: -ms-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.emptyPadding {
    height: 0px;
}

.inlineTranslationInput {
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.flashing {
    -webkit-animation-name: flash-animation;
    -webkit-animation-duration: 1s;

    animation-name: flash-animation;
    animation-duration: 1s;
}

@-webkit-keyframes flash-animation {
    from { background: yellow; }
    to   { background: transparent; }
}

@keyframes flash-animation {
    from { background: yellow; }
    to   { background: transparent; }
}

.inlineTranslation.revealed {
    opacity: 0.2;
}

.inlineTranslationInput.correctGuess:disabled {
    background-color: #90EE90;
}

.inlineTranslationInput.correctGuess {
    background-color: #90EE90;
}

.inlineTranslationInput:disabled {
    background-color: #efefef;
}

.inlineTranslationInput.incorrectGuess {
    background-color: #FFC1C1;
}

.inlineTranslationInput.closeGuess {
    background-color: #bebe00;
}

.available_points {
    font-size: x-small;
    color: darkgray;
}

small {
    font-size: x-small;
}
